.details {
    height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;

    &__content {
      width: 100%;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &__user {
      max-width: 1000px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }


    &__user-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }


    &__user-name {
      font-size: 18px;
      font-weight: bold;
    }

    &__info {
      margin-bottom: 20px;

      &-item {
        display: inline-block;
        margin-right: 10px;
        font-size: 14px;
      }
    }

    &__image {
      width: 100%;
      max-height: 700px;
      object-fit: cover;
      margin-bottom: 20px;
    }


    &__tags {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    
    &__tag-link {
      display: inline-block;
      padding: 5px 10px;
      background-color: #eee;
      color: #333;
      text-decoration: none;
      border-radius: 4px;
      margin-right: 5px;
      margin-bottom: 5px;
      font-size: 12px;
    }
    
    &__close {
      display: block;
      width: 30px;
      height: 30px;
      background-color: #ccc;
      border-radius: 50%;
      text-indent: -9999px;
    }
  }
  